@charset "utf-8";

*{padding: 0; margin: 0; font-size: 16px;}
a{text-decoration: none;}
ul{list-style: none;}
img{border: none;}

/* ReviewList */
.ReviewListItem{
    display: flex;
    padding: 10px; align-items: center;
}